<main class="container">
  <nav class="ajouterBtn">
    <a routerLink="/add">
      <button mat-flat-button color="accent">
        Ajouter Assignment
      </button>
    </a>
  </nav>
  <div class="pagination">
    <button mat-raised-button color="warn" (click)="premierePage()" class="boutonsPagination">Première</button>
    <button mat-raised-button color="primary" (click)="pageSuivante()" [disabled]="!hasNextPage" class="boutonsPagination">Page Suivante</button>
    <button mat-raised-button color="primary" (click)="pagePrecedente()" [disabled]="!hasPrevPage" class="boutonsPagination">Page Précédente</button>
    <button mat-raised-button color="warn" (click)="dernierePage()">Dernière</button>
  </div>
  <br>
  <mat-divider></mat-divider>

  <mat-list *ngFor="let a of assignments">
    <nav>
      <a routerLink="/assignments/{{a.id}}">
        <h3 mat-subheader>{{a.dateDeRendu|date}}</h3>

        <mat-list-item>
          <p *ngIf="a.rendu; else nonsoumis" appRendu>
            {{a.nom}}
            rendu par l'élève.
          </p>
          <ng-template #nonsoumis>
            <p>Le devoir {{a.nom}}, n'a pas encore été rendu.</p>
          </ng-template>
          <mat-divider></mat-divider>
        </mat-list-item>
      </a>
    </nav>
  </mat-list>
</main>
