
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ecole Marocaine des Sciences de l'Ingénieur</mat-card-title>
      <mat-card-subtitle>L'EMSI</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.leconomiste.com/sites/default/files/eco7/public/emsi_casa.jpg" alt="Photo de l'EMSI">
    <mat-card-content>
      <p>
        Notre vocation est de faire progresser l’enseignement, l’apprentissage et la recherche scientifique dans
         un environnement de travail dynamique et innovant.
         Nous nous focalisons sur l’excellence académique en offrons à nos étudiants des cursus 
         de formation diversifiés et pointus selon des standards internationaux. 
         Nous accompagnons tous nos étudiants, du début à la fin pour leur assurer une vie 
         professionnelle épanouie. Nous savons que nos étudiants  méritent le choix, 
         et nous leur offrons des programmes et des environnements accueillants et sécurisés, 
         virtuels et physiques, pour l’étude, la recherche, le travail, la réflexion et l’interaction. 
         Nous travaillons en partenariat entre nous, avec notre corps enseignant, 
         nos étudiants et nos collègues pour répondre aux besoins de recherche et d’enseignement 
         de notre communauté  pour le présent et l’avenir.  
         Nous faisons preuve d’une solide éthique de travail, en assumant la responsabilité 
         de nos actes, en tenant notre parole et en respectant nos engagements. 
         Notre primauté de ces valeurs fait de nous la grande école marocaine des sciences de l’ingénieur au Maroc.
      </p>
    </mat-card-content>
</mat-card>


    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-title>Université Nice Sophia Antipolis</mat-card-title>
        <mat-card-subtitle>UNSA</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://i.f1g.fr/media/eidos/805x453_crop/2019/02/01/XVM6857abc8-2499-11e9-8bc8-0356040d9f43.jpg" alt="Photo de l'EMSI">
      <mat-card-content>
        <p>
          Notre vocation est de faire progresser l’enseignement, l’apprentissage et la recherche scientifique dans
           un environnement de travail dynamique et innovant.
           Nous nous focalisons sur l’excellence académique en offrons à nos étudiants des cursus 
           de formation diversifiés et pointus selon des standards internationaux. 
           Nous accompagnons tous nos étudiants, du début à la fin pour leur assurer une vie 
           professionnelle épanouie. Nous savons que nos étudiants  méritent le choix, 
           et nous leur offrons des programmes et des environnements accueillants et sécurisés, 
           virtuels et physiques, pour l’étude, la recherche, le travail, la réflexion et l’interaction. 
           Nous travaillons en partenariat entre nous, avec notre corps enseignant, 
           nos étudiants et nos collègues pour répondre aux besoins de recherche et d’enseignement 
           de notre communauté  pour le présent et l’avenir.  
           Nous faisons preuve d’une solide éthique de travail, en assumant la responsabilité 
           de nos actes, en tenant notre parole et en respectant nos engagements. 
           Notre primauté de ces valeurs fait de nous la grande école marocaine des sciences de l’ingénieur au Maroc.
        </p>
      </mat-card-content>
</mat-card>
